<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="loc" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location" value="classpath:config.properties" />
    </bean>

    <bean id="stdprn" class="edisk.service.StdPrinter">
        <!-- constructor-arg value="${outfile}" / -->
    </bean>

    <bean id="hello" class="edisk.service.HelloServiceImpl">
        <constructor-arg ref="stdprn" />
        <!-- property name="printer" ref="stdprn" / -->
    </bean>

</beans>